# Home Assistant Add-on: RustDesk-Server

[![GitHub Release][releases-shield]][releases]
[![License][license-shield]][license]

{% set repository = namespace(url='https%3A//github.com/casse-boubou/hassio-addons', slug='c751e21a') %}
## Acerca de

Este add-on te permite auto-hospedar tu propio servidor RustDesk en tu HomeAssistant, compatible con Raspberry Pi 4 y otras arquitecturas soportadas.

Si utilizas RustDesk, deberías tener tu propio servidor RustDesk. Los servidores públicos de RustDesk están destinados a fines de prueba e investigación y no están equipados para manejar grandes cantidades de tráfico. Esto significa que el tiempo necesario para establecer una conexión a través de los servidores públicos puede variar considerablemente y a veces incluso fallar si el servidor está sobrecargado. Además, si la perforación de puertos (hole punching) falla y la conexión se enruta a través del servidor de retransmisión público, algunos días puede ser extremadamente rápida y otros no tanto.

## Soporte

No soy desarrollador ni tengo formación en programación, soy simplemente autodidacta.
Si tienes alguna pregunta sobre HA y sus add-ons puedes consultar:

- [El Foro comunitario francófono][HACF] de HomeAssistant
- [El Foro comunitario anglófono][forum] de HomeAssistant
- [El servidor Discord][discord-ha] de HomeAssistant

## Licencia

MIT License

Copyright (c) 2025 [Frosh][Frosh]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

[rustdesk-server]: https://github.com/rustdesk/rustdesk-server
[discord-ha]: https://discord.gg/c5DvZ4e
[forum]: https://community.home-assistant.io
[HACF]: https://forum.hacf.fr/

[Frosh]: https://github.com/casse-boubou
[license]: https://github.com/casse-boubou/addon-rustdesk-server/blob/main/LICENSE
[license-shield]: https://img.shields.io/github/license/casse-boubou/addon-rustdesk-server.svg

[releases]: https://github.com/casse-boubou/addon-rustdesk-server/releases
[releases-shield]: https://img.shields.io/github/v/release/casse-boubou/addon-rustdesk-server
